<div class="forget-container">
  <div class="forget-card">
    <div class="language-toggle">
      <app-language-selector></app-language-selector>
    </div>
    <div class="logo-section">
      <img
        src="assets/images/login-logo.svg"
        alt="Taxinics Logo"
        class="logo"
      />
    </div>
    <h2>{{ "Password reset" | translate }}</h2>
    <p class="rest-password-text">
      {{
        "Kindly enter the email address associated with your account. You would be
      sent an email with a reset link." | translate
      }}
    </p>
    <form
      class="forget-form"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <label for="email">{{ "Email Address" | translate }}</label>
        <input
          id="email"
          formControlName="email"
          type="text"
          [placeholder]="'Enter Email' | translate"
          autocomplete="off"
          [ngClass]="
            email?.invalid && email?.value !== '' ? 'error-border' : ''
          "
        />
        <div
          *ngIf="
            email?.invalid &&
            email?.value !== '' &&
            (email?.dirty || email?.touched)
          "
          class="error-message message"
        >
          <p *ngIf="email?.errors?.['required']">
            {{ "Email is required." | translate }}
          </p>
          <p *ngIf="email?.errors?.['email']">
            {{ "Invalid email address" | translate }}
          </p>
        </div>
      </div>
      <button type="submit" [disabled]="resetPasswordForm.invalid">
        {{ "Send Link" | translate }}
      </button>
    </form>
    <div class="success-container" *ngIf="isSuccess">
      <p class="success-message message">
        {{
          "A password link has been sent to your email, Please check it to update your password."
            | translate
        }}
      </p>
    </div>
  </div>
</div>
