<div class="filter" [class.open]="isSidebarOpen">
  <div class="btn-container">
    <label class="switch">
      <input type="checkbox" name="isNewClient" [(ngModel)]="isNewClient" (ngModelChange)="onToggleChange()"/>
      <span class="slider">
        <span class="text">{{"New Client" | translate}}</span>
      </span>
    </label>

    <button class="reset-button" (click)="resetFilters()">
      {{ "Reset Filters" | translate }}
    </button>
  </div>

  <div class="header">
    <img
      class="hamburger-img"
      (click)="closeFilterSidebar()"
      src="assets/images/filter-hamberger.svg"
      alt="Toggle Sidebar"
    />
    <h3>{{ "Find your Tax Clinic" | translate }}</h3>
  </div>
  <form (ngSubmit)="applyFilters()">
    <div class="form-group">
      <div class="form-group-label">
        <p class="subtitle">{{
          "Is your income, based on your family size (household), above or below the CVITP definition?" | translate
          }}</p>
      </div>
      <div class="radio-group">
        <div class="radio-item">
          <input type="radio" name="lowIncome" value="Below" [(ngModel)]="filters.lowIncome" />
          <span>{{ "Below" | translate }}</span>
        </div>
        <div class="radio-item">
          <input type="radio" name="lowIncome" value="Above" [(ngModel)]="filters.lowIncome" />
          <span>{{ "Above" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <p class="subtitle">{{
          "Do you have a simple tax situation excluding the following?" | translate
          }}</p>
      </div>
      <div class="checkbox-group">
        <div class="checkbox-item">
          <input type="checkbox" name="rentalIncome" [(ngModel)]="filters.specialTaxCases.rentalIncome" />
          <span>{{ "Rental income" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="selfEmployment" [(ngModel)]="filters.specialTaxCases.selfEmployment" />
          <span>{{ "Self-employment income" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="incomeOver" [(ngModel)]="filters.specialTaxCases.incomeOver" />
          <span>{{ "Interest income over 1000$" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="deceasedPerson" [(ngModel)]="filters.specialTaxCases.deceasedPerson" />
          <span>{{ "Return for a deceased person" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="employmentExpenses" [(ngModel)]="filters.specialTaxCases.employmentExpenses" />
          <span>{{ "Employment expenses (with specific conditions)" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="capitalGains" [(ngModel)]="filters.specialTaxCases.capitalGains" />
          <span>{{ "Capital Gains/losses (with specific conditions)" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="largerIncome" [(ngModel)]="filters.specialTaxCases.largerIncome" />
          <span>{{ "Larger income than CVITP income-criteria. when people are low income now" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <p class="subtitle">{{
          "For which tax year(s) do you need to file a return?" | translate
          }}</p>
      </div>
      <div class="radio-group">
        <div class="radio-item">
          <input type="radio" name="supportedTaxYears" value="Only current year" [(ngModel)]="filters.supportedTaxYears" />
          <span>{{ "Only current year" | translate }}</span>
        </div>
        <div class="radio-item">
          <input type="radio" name="supportedTaxYears" value="Current and last year"
            [(ngModel)]="filters.supportedTaxYears" />
          <span>{{ "Current and last year" | translate }}</span>
        </div>
        <div class="radio-item">
          <input type="radio" name="supportedTaxYears" value="Multiple years" [(ngModel)]="filters.supportedTaxYears" />
          <span>{{ "Multiple years" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <p class="subtitle">{{
          "Which province did you reside during those years on december 31?"
            | translate
        }}</p>
      </div>
      <div class="checkbox-group">
        <div class="checkbox-item">
          <input
          type="checkbox"
          name="ontario"
          [(ngModel)]="filters.provinces.ontario"
        />
        <span>{{ "Ontario" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input
          type="checkbox"
          name="quebec"
          [(ngModel)]="filters.provinces.quebec"
        />
        <span>{{ "Quebec" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input
          type="checkbox"
          name="anyOtherProvince"
          [(ngModel)]="filters.provinces.anyOtherProvince"
        />
        <span>{{ "Provinces other than Ontario and Quebec" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <p class="subtitle">{{
          "What type of clinic would you prefer?" | translate
          }}</p>
      </div>
      <div class="checkbox-group">
        <div class="checkbox-item">
          <input type="checkbox" name="inPerson" [(ngModel)]="filters.serviceDeliveryModes.inPerson" />
          <span>{{ "In person" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="virtual" [(ngModel)]="filters.serviceDeliveryModes.virtual" />
          <span>{{ "Virtual" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="dropOff" [(ngModel)]="filters.serviceDeliveryModes.dropOff" />
          <span>{{ "Drop-off" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <p class="subtitle">{{
          "What mode of service would you prefer?" | translate
          }}</p>
      </div>
      <div class="checkbox-group">
        <div class="checkbox-item">
          <input type="checkbox" name="byAppointment" [(ngModel)]="filters.modeOfService.byAppointment" />
          <span>
            {{ "By appointment" | translate }}
          </span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="walkIn" [(ngModel)]="filters.modeOfService.walkIn" />
          <span>{{ "Walk-in" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <p class="subtitle">{{
          "Do you need a wheelchair-accessible clinic?" | translate
          }}</p>
      </div>
      <div class="checkbox-group">
        <div class="checkbox-item">
          <input type="checkbox" name="wheelchairAccessible" [(ngModel)]="filters.wheelchairAccessible" />
          <span>{{ "Yes" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <p class="subtitle">{{
          "Would you like an appointment during the day or in the evening?" | translate
          }}</p>
      </div>
      <div class="checkbox-group">
        <div class="checkbox-item">
          <input type="checkbox" name="daytime" [(ngModel)]="filters.serviceHours.daytime" />
          <span>{{ "Daytime" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="evening" [(ngModel)]="filters.serviceHours.evening" />
          <span>{{ "Evening" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <p class="subtitle">{{
          "Would you like an appointment on a weekday or weekend?" | translate
          }}</p>
      </div>
      <div class="checkbox-group">
        <div class="checkbox-item">
          <input type="checkbox" name="weekdays" [(ngModel)]="filters.serviceDays.weekdays" />
          <span>{{ "Weekdays" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="weekends" [(ngModel)]="filters.serviceDays.weekends" />
          <span>{{ "Weekends" | translate }}</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <p class="subtitle">{{
          "Do you need service in French, English or another language?" | translate
          }}</p>
      </div>
      <div class="checkbox-group">
        <div class="checkbox-item">
          <input type="checkbox" name="french" [(ngModel)]="filters.languageOptions.french" />
          <span>{{ "French" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="english" [(ngModel)]="filters.languageOptions.english" />
          <span>{{ "English" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="arabic" [(ngModel)]="filters.languageOptions.arabic" />
          <span>{{ "Arabic" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="other" [(ngModel)]="filters.languageOptions.other"
          (change)="onOtherLanguageToggle()" />
          <span>{{ "Other" | translate }}</span>
        </div>
      </div>
      <div *ngIf="filters.languageOptions.other">
        <input class="input-filter" type="text" id="otherLanguage" [(ngModel)]="filters.languageOptions.otherLanguage"
          name="otherLanguage" placeholder="{{ 'Enter other language' | translate }}" />
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <p class="subtitle">{{
          "What is your postal code?" | translate
          }}</p>
      </div>
      <input class="input-filter" type="text" id="postalCodesServe" name="postalCodesServe"
        [(ngModel)]="filters.postalCodesServe" (input)="onPostalCodeChange(filters.postalCodesServe || '')"
        placeholder="{{ 'Enter postal code' | translate }}" />
      <div>
        <p *ngIf="!isPostalCodeValid && filters.postalCodesServe" class="error-message">
          {{ "Postal code must be exactly 6 digits without space" | translate }}
        </p>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <p class="subtitle">{{
          "Do you belong to one of these groups?" | translate
          }}</p>
      </div>
      <div class="checkbox-group">
        <div class="checkbox-item">
          <input type="checkbox" name="newcomers" [(ngModel)]="filters.clientCategories.newcomers" />
          <span>{{ "Newcomers" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="seniors" [(ngModel)]="filters.clientCategories.seniors" />
          <span>{{ "Seniors" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="students" [(ngModel)]="filters.clientCategories.students" />
          <span>{{ "Students" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="indigenousClients" [(ngModel)]="filters.clientCategories.indigenousClients" />
          <span>{{ "Indigenous (First Nations and Inuit and Metis)" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="disabilities" [(ngModel)]="filters.clientCategories.disabilities" />
          <span>{{ "Persons with disabilities" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="lgbtq" [(ngModel)]="filters.clientCategories.lgbtq" />
          <span>{{ "2SLGBTQI+" | translate }}</span>
        </div>
        <div class="checkbox-item">
          <input type="checkbox" name="ruralPopulation" [(ngModel)]="filters.clientCategories.ruralPopulation" />
          <span>{{ "Rural population" | translate }}</span>
        </div>
      </div>
    </div>
    <button type="submit" class="filters-button"[disabled]="!isPostalCodeValid && filters.postalCodesServe">
      {{ "Apply Filters" | translate }}
    </button>
  </form>
</div>
