.filter {
  background-color: transparent;
  padding: 0;
  height: 100%;
  transition: all 0.3s ease-in-out;

  .header {
    display: flex;
    align-items: center;
    gap: 10px; 

    .hamburger-img {
      cursor: pointer;
      width: 25px;
      height: auto;
    }

    h3 {
      //font-size: 1.5rem;
      color: #333;
      //margin: 0;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    counter-reset: form-group-counter;
  }

  .form-group {
    position: relative;
    margin-bottom: 15px;
    padding-left: 35px;

    &::before {
      content: counter(form-group-counter);
      counter-increment: form-group-counter;
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.2rem;
      font-weight: bold;
      color: #000000;
      background-color: #CCEAF0;
      border: 3px solid #AADCE5;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    label {
      display: block;
      font-size: 1rem;
      color: #333;
      margin-bottom: 5px;
    }

    input,
    select {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .radio-group {
      display: flex;
      gap: 15px;
  
      label {
        display: flex;
        align-items: center;
        font-size: 1rem;
        color: #333;
  
        input[type="radio"] {
          margin-right: 10px;
        }
      }
    }
  }

  button {
    background-color: #007bff;
    color: #ffffff;
    padding: 12px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

@media (max-width: 768px) {
  .filter {
    padding: 10px;

    .header {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
    }

    h3 {
      font-size: 1.2rem;
    }

    .form-group {
      padding-left: 30px;
    }

    .form-group label {
      font-size: 0.9rem;
    }

    .form-group input,
    .form-group select {
      font-size: 0.9rem;
    }

    button {
      font-size: 0.9rem;
      padding: 10px 15px;
    }

    .hamburger-img {
      width: 25px;
    }
  }
}
