<div class="filter" [class.open]="isSidebarOpen">
  <div class="btn-container">
    <label class="switch">
      <input type="checkbox" name="isNewClient" [(ngModel)]="isNewClient"/>
      <span class="slider">
        <span class="text">{{"New Client" | translate}}</span>
      </span>
    </label>

    <button class="reset-button" (click)="resetFilters()">
      {{ "Reset Filters" | translate }}
    </button>
  </div>

  <div class="header">
    <img
      class="hamburger-img"
      (click)="closeFilterSidebar()"
      src="assets/images/filter-hamberger.svg"
      alt="Toggle Sidebar"
    />
    <h3>{{ "Find your Tax Clinic" | translate }}</h3>
  </div>
  <form (ngSubmit)="applyFilters()">
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Appointment Status" | translate }}</label>
        <small class="subtitle">{{
          "Do you have appointments available?" | translate
        }}</small>
      </div>
      <div class="radio-group">
        <label>
          <input
            type="radio"
            name="appointmentType"
            value="Yes"
            [(ngModel)]="filters.appointmentType"
          />
          {{ "Yes" | translate }}
        </label>
        <label>
          <input
            type="radio"
            name="appointmentType"
            value="No"
            [(ngModel)]="filters.appointmentType"
          />
          {{ "No" | translate }}
        </label>
        <label>
          <input
            type="radio"
            name="appointmentType"
            value="Not Sure"
            [(ngModel)]="filters.appointmentType"
          />
          {{ "Not Sure" | translate }}
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Type of clinic" | translate }}</label>
        <small class="subtitle">{{
          "Do you offer services in the following modes?" | translate
        }}</small>
      </div>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="inPerson"
            [(ngModel)]="filters.serviceDeliveryModes.inPerson"
          />
          {{ "In person" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="virtual"
            [(ngModel)]="filters.serviceDeliveryModes.virtual"
          />
          {{ "Virtual" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="byAppointment"
            [(ngModel)]="filters.serviceDeliveryModes.byAppointment"
          />
          {{ "By appointment" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="walkIn"
            [(ngModel)]="filters.serviceDeliveryModes.walkIn"
          />
          {{ "Walk-in" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="dropOff"
            [(ngModel)]="filters.serviceDeliveryModes.dropOff"
          />
          {{ "Drop-off" | translate }}
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Wheelchair accessible" | translate }}</label>
        <small class="subtitle">{{
          "Is location wheelchair accessible?" | translate
        }}</small>
      </div>
      <div class="radio-group">
        <label>
          <input
            type="radio"
            name="wheelchairAccessible"
            value="Yes"
            [(ngModel)]="filters.wheelchairAccessible"
          />
          {{ "Yes" | translate }}
        </label>
        <label>
          <input
            type="radio"
            name="wheelchairAccessible"
            value="No"
            [(ngModel)]="filters.wheelchairAccessible"
          />
          {{ "No" | translate }}
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Geographical zone" | translate }}</label>
        <small class="subtitle">{{
          "Does clinic serve people from a specific area?" | translate
        }}</small>
      </div>
      <div class="radio-group">
        <label>
          <input
            type="radio"
            name="servePeopleFrom"
            value="specific"
            [(ngModel)]="filters.servePeopleFrom"
            (change)="onServePeopleFromChange()"
          />
          {{ "A specific catchment area only" | translate }}
        </label>
        <label>
          <input
            type="radio"
            name="servePeopleFrom"
            value="anywhere"
            [(ngModel)]="filters.servePeopleFrom"
            (change)="onServePeopleFromChange()"
          />
          {{ "Anywhere from Ottawa" | translate }}
        </label>
        <label>
          <input
            type="radio"
            name="servePeopleFrom"
            value="other"
            [(ngModel)]="filters.servePeopleFrom"
          />
          {{ "Other" | translate }}
        </label>
        <input
          class="input-filter"
          type="text"
          *ngIf="filters.servePeopleFrom === 'other'"
          name="otherServePeopleFrom"
          [(ngModel)]="filters.otherServePeopleFrom"
          placeholder="{{ 'Enter other area' | translate }}"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Days of Operation" | translate }}</label>
        <small class="subtitle">{{
          "Which days does clinic operate?" | translate
        }}</small>
      </div>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="weekdays"
            [(ngModel)]="filters.serviceDays.weekdays"
          />
          {{ "Weekdays" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="weekends"
            [(ngModel)]="filters.serviceDays.weekends"
          />
          {{ "Weekends" | translate }}
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Hours of Operation" | translate }}</label>
        <small class="subtitle">{{
          "What are clinics operating hours?" | translate
        }}</small>
      </div>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="daytime"
            [(ngModel)]="filters.serviceHours.daytime"
          />
          {{ "Daytime" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="evening"
            [(ngModel)]="filters.serviceHours.evening"
          />
          {{ "Evening" | translate }}
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Supported Tax Years" | translate }}</label>
        <small class="subtitle">{{
          "Which tax years’ income tax returns do you file?" | translate
        }}</small>
      </div>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="currentYear"
            [(ngModel)]="filters.supportedTaxYears!.currentYear"
          />
          {{ "Only current year" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="currentLastYears"
            [(ngModel)]="filters.supportedTaxYears!.currentLastYears"
          />
          {{ "Current and last year" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="multipleYears"
            [(ngModel)]="filters.supportedTaxYears!.multipleYears"
          />
          {{ "Multiple years" | translate }}
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Province of Residence" | translate }}</label>
        <small class="subtitle">{{
          "What province of residence on December 31 of tax year do you accept?"
            | translate
        }}</small>
      </div>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="Ontario"
            [(ngModel)]="filters.provinces['Ontario']"
          />
          {{ "Ontario" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="Quebec"
            [(ngModel)]="filters.provinces['Quebec']"
          />
          {{ "Quebec" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="Other"
            [(ngModel)]="filters.provinces['Other']"
          />
          {{ "Other than Ontario and Quebec" | translate }}
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Language Options" | translate }}</label>
        <small class="subtitle">{{
          "Are you offering services in the following languages?" | translate
        }}</small>
      </div>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="french"
            [(ngModel)]="filters.languageOptions.french"
          />
          {{ "French" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="english"
            [(ngModel)]="filters.languageOptions.english"
          />
          {{ "English" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="arabic"
            [(ngModel)]="filters.languageOptions.arabic"
          />
          {{ "Arabic" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="other"
            [(ngModel)]="filters.languageOptions.other"
            (change)="onOtherLanguageToggle()"
          />
          {{ "Other" | translate }}
        </label>
      </div>
      <div *ngIf="filters.languageOptions.other">
        <input
          class="input-filter"
          type="text"
          id="otherLanguage"
          [(ngModel)]="filters.languageOptions.otherLanguage"
          name="otherLanguage"
          placeholder="{{ 'Enter other language' | translate }}"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Population Serve" | translate }}</label>
        <small class="subtitle">{{
          "Are you accepting the following client types?" | translate
        }}</small>
      </div>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="newcomers"
            [(ngModel)]="filters.clientCategories.newcomers"
          />
          {{ "Newcomers" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="seniors"
            [(ngModel)]="filters.clientCategories.seniors"
          />
          {{ "Seniors" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="students"
            [(ngModel)]="filters.clientCategories.students"
          />
          {{ "Students" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="indigenousClients"
            [(ngModel)]="filters.clientCategories.indigenousClients"
          />
          {{ "Indigenous (First Nations and Inuit and Metis)" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="disabilities"
            [(ngModel)]="filters.clientCategories.disabilities"
          />
          {{ "Persons with disabilities" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="languageSpecific"
            [(ngModel)]="filters.clientCategories.languageSpecific"
          />
          {{ "Language-specific community" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="other"
            [(ngModel)]="filters.clientCategories.other"
            (change)="onClientCategoriesToggle()"
          />
          {{ "Other" | translate }}
        </label>
      </div>
      <div *ngIf="filters.clientCategories.other">
        <input
          class="input-filter"
          type="text"
          id="otherClientCategory"
          [(ngModel)]="filters.clientCategories.otherClientCategory"
          name="otherClientCategory"
          placeholder="{{ 'Enter other Client Category' | translate }}"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Access Documents" | translate }}</label>
        <small class="subtitle">{{
          "Do you help client access their documents?" | translate
        }}</small>
      </div>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="allDocuments"
            [(ngModel)]="filters.accessDocuments.allDocuments"
          />
          {{ "Yes for CRA documents with Autofill/repid" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="someDocuments"
            [(ngModel)]="filters.accessDocuments.someDocuments"
          />
          {{
            "Yes with help from staff or volunteer for some documentation"
              | translate
          }}
        </label>
        <label>
          <input
            type="checkbox"
            name="noDocuments"
            [(ngModel)]="filters.accessDocuments.noDocuments"
          />
          {{ "No, client must have all their documents ready" | translate }}
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Special Tax Return Cases" | translate }}</label>
        <small class="subtitle">{{
          "Do you file tax returns for the following cases?" | translate
        }}</small>
      </div>
      <div class="checkbox-group">
        <label>
          <input
            type="checkbox"
            name="rentalIncome"
            [(ngModel)]="filters.specialTaxCases.rentalIncome"
          />
          {{ "Rental income" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="selfEmployment"
            [(ngModel)]="filters.specialTaxCases.selfEmployment"
          />
          {{ "Self-employment income" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="incomeOver"
            [(ngModel)]="filters.specialTaxCases.incomeOver"
          />
          {{ "Interest income over 1000$" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="deceasedPerson"
            [(ngModel)]="filters.specialTaxCases.deceasedPerson"
          />
          {{ "Return for a deceased person" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="employmentExpenses"
            [(ngModel)]="filters.specialTaxCases.employmentExpenses"
          />
          {{ "Employment expenses (with specific conditions)" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="capitalGains"
            [(ngModel)]="filters.specialTaxCases.capitalGains"
          />
          {{ "Capital Gains/losses (with specific conditions)" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="largerIncome"
            [(ngModel)]="filters.specialTaxCases.largerIncome"
          />
          {{ "Larger income than CVITP income-criteria. when people are low income now" | translate }}
        </label>
        <label>
          <input
            type="checkbox"
            name="other"
            [(ngModel)]="filters.specialTaxCases.other"
            (change)="onOtherSpecialTaxCasesToggle()"
          />
          {{ "Other" | translate }}
        </label>
        <input
          class="input-filter"
          type="text"
          *ngIf="filters.specialTaxCases.other"
          name="otherSpecialTaxCases"
          [(ngModel)]="filters.specialTaxCases.otherSpecialTaxCases"
          placeholder="{{ 'Enter other' | translate }}"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="form-group-label">
        <label>{{ "Postal Code" | translate }}</label>
        <small class="subtitle">{{
          "Enter Postal Code to Find Nearby Clinics" | translate
        }}</small>
      </div>
      <input 
        class="input-filter" 
        type="text" id="postalCodesServe" 
        name="postalCodesServe"
        [(ngModel)]="filters.postalCodesServe" 
        placeholder="{{ 'Enter postal code' | translate }}" 
      />
    </div>
    <button type="submit" class="filters-button">
      {{ "Apply Filters" | translate }}
    </button>
  </form>
</div>
