<div class="header">
  <div class="logo-and-language">
    <div class="logo">
      <img src="assets/images/header-logo.svg" alt="Logo" />
    </div>
    <div class="language-selector">
      <app-language-selector
        (languageChanged)="switchLanguage($event)"
      ></app-language-selector>
    </div>
  </div>

  <div class="tabs">
    <button
      [class.active]="selectedTab === 'access-filter'"
      (click)="switchTab('access-filter')"
    >
      {{ "Access Filter" | translate }}
    </button>
    <button
      [class.active]="selectedTab === 'tax-clinics'"
      (click)="switchTab('tax-clinics')"
    >
      {{ "Tax Clinics" | translate }}
    </button>
  </div>

  <div class="menu-icons">
    <button class="menu-button" (click)="toggleMenu()">
      <img
        src="assets/images/hamberger.svg"
        alt="Menu"
        [class.active]="menuOpen"
      />
    </button>
    <img src="assets/images/user-icon.svg" alt="User" class="user-icon" />
    <div class="menu-dropdown" *ngIf="menuOpen">
      <button (click)="navigateTo('my-profile')">
        {{ "My Profile" | translate }}
      </button>
      <button *ngIf="isAdmin" (click)="navigateTo('user-management')">
        {{ "User Management" | translate }}
      </button>
      <button *ngIf="isAdmin" (click)="navigateTo('tax-clinic-management')">
        {{ "Tax Clinic Management" | translate }}
      </button>
      <button *ngIf="isAdmin" (click)="navigateTo('export-client-data')">
        {{ "Export Client Data" | translate }}
      </button>
      <button (click)="logout()">{{ "Logout" | translate }}</button>
    </div>
  </div>
</div>
