<div class="tax-clinic-management">
  <p class="clinic-title">{{"Tax Clinic Management" | translate}}</p>

  <div class="search-bar">
    <input
      type="text"
      placeholder="{{ 'Search Tax Clinics' | translate }}"
      [(ngModel)]="searchQuery"
      (input)="filterClinics()"
      class="search-input"
    />
    <button class="add-clinic" (click)="openAddClinicModal()">{{"Add Clinic" | translate}}</button>
  </div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th class="header-serial">S/N</th>
          <th>Tax Clinic Name</th>
          <th>Tax Clinic details</th>
          <th>Contact person</th>
          <th></th>
          <th class="header-last">Last update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clinic of filteredTaxClinics; let i = index">
          <td>{{ i + 1 }}</td>
          <td>
            <p class="clinic-name">{{ clinic.organizationName }}</p>
          </td>
          <td>
            <div class="clinic-info" *ngFor="let location of clinic?.locations">
              <p>
                {{ location?.street }}, {{ location?.city }},
                {{ location?.state }}, {{ location?.postalCode }}
              </p>
            </div>
            <a [href]="clinic.organisationWebsite" target="_blank">{{
              clinic.organisationWebsite
            }}</a>
            <button class="view-more" (click)="openClinicDetailsModal(clinic)">
              View more
            </button>
          </td>
          <td>
            <span class="contact-name">{{ clinic.contactPersonName }}</span>
            <p>{{ clinic.contactEmail }}</p>
          </td>
          <td>
            <div class="clinic-actions">
              <button class="edit-button" (click)="openEditClinicModal(clinic)">
                {{ "Edit Clinic" | translate }}
              </button>
              <button class="delete-button" (click)="confirmDelete(clinic.id)">
                {{ "Delete Clinic" | translate }}
              </button>
            </div>
          </td>
          <td>
            <p>{{ clinic.updatedDate | date }}</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <app-tax-clinic-management-details
    *ngIf="showClinicDetailsModal"
    [clinic]="selectedClinic"
    (closeModal)="closeClinicDetailsModal()"
  ></app-tax-clinic-management-details>

  <app-tax-clinic-modal
    [isOpen]="showClinicModal"
    [clinic]="selectedClinic"
    [isEditMode]="isEditMode"
    (close)="closeClinicModal()"
    (save)="saveClinic($event)"
  >
  </app-tax-clinic-modal>

  <app-confirmation-modal
    [isOpen]="isDeleteModalOpen"
    message="Are you sure you want to delete this Tax Clinic?"
    (confirmAction)="deleteTaxClinic()"
    (cancelAction)="closeDeleteModal()"
  ></app-confirmation-modal>

  <app-message-popup 
  [message]="popupMessage"
  [isVisible]="popupVisible"
  [messageType]="popupType"
  (closed)="closePopup()">
</app-message-popup>
</div>
