.language-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-wrapper {
  display: flex;
  border: 1px solid white;
  border-radius: 30px;
  padding: 4px;
}

.language-btn {
  background-color: white;
  border: none;
  padding: 5px 5px;
  cursor: pointer;
  color: #2b2b2b;
  border-radius: 20px;
  transition: all 0.3s ease;
  margin: 0;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.language-btn.selected {
  background-color: #aadce5;
  color: #2b2b2b;
}

.language-btn:hover {
  background-color: #f0f0f0;
}

.language-btn.selected:hover {
  background-color: #aadce5;
}

.flag-icon {
  height: auto;
  display: inline-block;
}
