<div class="language-toggle">
  <div class="toggle-wrapper">
    <button
      class="language-btn"
      [class.selected]="currentLanguage === 'en'"
      (click)="switchLanguage('en')"
    >
      <img src="/assets/images/us-flag.svg" alt="English" class="flag-icon" />
      En
    </button>
    <button
      class="language-btn"
      [class.selected]="currentLanguage === 'fr'"
      (click)="switchLanguage('fr')"
    >
      <img src="/assets/images/french-flag.svg" alt="French" class="flag-icon" />
      Fr
    </button>
  </div>
</div>
