<div class="modal-overlay">
  <div class="modal-content">
    <div class="header">
      <div class="clinic-header-left">
        <img
          src="assets/images/modal-logo.svg"
          alt="Website"
          class="website-icon"
        />
        <h3>Tax Clinics In This Axis</h3>
      </div>
      <button class="close-button" (click)="close()">X</button>
    </div>

    <div class="clinic-details-container">
      <div class="clinic-details">
        <label>{{ clinic?.organizationName }}</label>
        <dl>
          <div class="clinic-info"  *ngFor="let location of clinic?.locations">
            <dt>{{ "Address" | translate }}:</dt>
            <dd>{{ location?.street }}, {{ location?.city }}, {{ location?.state }}, {{ location?.postalCode }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Required Documents" | translate }}:</dt>
            <dd>{{ clinic?.requiredDocuments }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Website" | translate }}:</dt>
            <dd>
              <a
                [href]="clinic?.organizationContact"
                target="_blank"
                rel="noopener noreferrer"
                class="clinic-link"
              >
                {{ clinic?.organizationContact }}
              </a>
            </dd>
          </div>
        </dl>
      </div>
      <div class="clinic-map" id="clinic-map"></div>
    </div>
  </div>
</div>
