<div class="modal-overlay">
  <div class="modal-content">
    <div class="header">
      <div class="clinic-header-left">
        <img
          src="assets/images/modal-logo.svg"
          alt="Website"
          class="website-icon"
        />
        <h3>{{ "Tax clinics in this axis" | translate}}</h3>
      </div>
      <div class="header-buttons">
        <button *ngIf="!isNewClient" class="close-button" (click)="close()">X</button>
        <button *ngIf="isNewClient" class="action-button" (click)="referClinic()">{{"Assign Clinic" | translate}}</button>
        <button *ngIf="isNewClient" class="action-button" (click)="backToFilterClinic()">{{"Back to Filter Clinic" | translate}}</button>
      </div>
    </div>
    <div class="clinic-details-container">
      <div class="clinic-details">
        <label>{{ clinic?.organizationName }}</label>
        <dl>
          <div class="clinic-info" *ngFor="let location of clinic?.locations">
            <dt>{{ "Clinic Address" | translate }}:</dt>
            <dd>
              {{ location?.street }}, {{ location?.city }},
              {{ location?.state }}, {{ location?.postalCode }}
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Catchment Area of the clinic" | translate }}:</dt>
            <dd>{{ clinic?.catchmentArea || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Type of Clinic" | translate }}:</dt>
            <dd>{{ clinic?.clinicTypes || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Wheelchair accessible?" | translate }}:</dt>
            <dd>{{ clinic?.wheelchairAccessible || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Geographical zone" | translate }}:</dt>
            <dd>{{ clinic?.servePeopleFrom || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>
              {{
                "Hours and Date of clinic operation"
                  | translate
              }}:
            </dt>
            <dd>{{ clinic?.hoursAndDate || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>
              {{"Hours of clinic" | translate}}:
            </dt>
            <dd>{{ clinic?.hoursOfOperation || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>
              {{"Day of clinic" | translate}}:
            </dt>
            <dd>{{ clinic?.daysOfOperation || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Population serve" | translate }}:</dt>
            <dd>{{ clinic?.populationServed || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Available in" | translate }}:</dt>
            <dd>{{ clinic?.serviceLanguages || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Year(s) prepared" | translate }}:</dt>
            <dd>{{ clinic?.taxYearsPrepared || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>
              {{
                "Return from (provinces)"
                  | translate
              }}:
            </dt>
            <dd>{{ clinic?.residencyTaxYear || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Special services?" | translate }}:</dt>
            <dd>{{ clinic?.servePeople || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Webpage detailing eligibility" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.eligibilityCriteriaWebpage; else noLink">
                <a [href]="(clinic?.eligibilityCriteriaWebpage?.startsWith('http') ? clinic?.eligibilityCriteriaWebpage : 'https://' + clinic?.eligibilityCriteriaWebpage)" 
                target="_blank" rel="noopener noreferrer" class="clinic-link">
                  {{ clinic?.eligibilityCriteriaWebpage }}
                </a>
              </ng-container>
              <ng-template #noLink>N/A</ng-template>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Booking process" | translate }}:</dt>
            <dd>{{ clinic?.bookingProcess || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>
              {{
                "Appointment hours"
                  | translate
              }}:
            </dt>
            <dd>{{ clinic?.bookingDaysHours || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Email for booking" | translate }}:</dt>
            <dd>{{ clinic?.bookingContactEmail || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Phone Number for booking" | translate }}:</dt>
            <dd>{{ clinic?.bookingContactPhone || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Appointment booking Link" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.onlineBookingLink; else noBookingLink">
                <a [href]="(clinic?.onlineBookingLink?.startsWith('http') ? clinic?.onlineBookingLink : 'https://' + clinic?.onlineBookingLink)" 
                target="_blank" rel="noopener noreferrer" class="clinic-link">
                  {{ clinic?.onlineBookingLink }}
                </a>
              </ng-container>
              <ng-template #noBookingLink>N/A</ng-template>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Required Documents for appointment" | translate }}:</dt>
            <dd>{{ clinic?.requiredDocuments || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>
              {{
                "Help Client find the documnets?"
                  | translate
              }}:
            </dt>
            <dd>{{ clinic?.helpWithMissingDocs || 'N/A' }}</dd>
          </div>
        </dl>
      </div>
      <div class="clinic-map" id="clinic-map"></div>
    </div>
  </div>
</div>
