<div class="login-container">
  <div class="login-card">
    <div class="language-toggle">
      <app-language-selector
        (languageChanged)="switchLanguage($event)"
      ></app-language-selector>
    </div>
    <div class="logo-section">
      <img
        src="assets/images/login-logo.svg"
        alt="Taxinics Logo"
        class="logo"
      />
    </div>
    <h2>{{ "Login to your account" | translate }}</h2>
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">{{ "Email Address" | translate }}</label>
        <input
          id="email"
          formControlName="email"
          type="text"
          [placeholder]="'Enter Email' | translate"
          autocomplete="off"
          [ngClass]="
            email && email.value !== '' && email.invalid ? 'error-border' : ''
          "
        />
        <div
          *ngIf="
            email &&
            email?.value !== '' &&
            email.invalid &&
            (email.dirty || email.touched)
          "
          class="error-message"
        >
          <p *ngIf="email.errors?.['required']">
            {{ "Email is required." | translate }}
          </p>
          <p *ngIf="email?.errors?.['email']">
            {{ "Invalid email address" | translate }}
          </p>
        </div>
      </div>
      <div class="form-group">
        <label for="password">{{ "Password" | translate }}</label>
        <div class="password-input-container">
          <input
            id="password"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            [placeholder]="'Enter Password' | translate"
            [ngClass]="
              password && password.value !== '' && password.invalid
                ? 'error-border'
                : ''
            "
          />
          <img
          [src]="showPassword ? 'assets/images/eye-open.svg' : 'assets/images/eye-close.svg'"
          alt="Toggle Visibility"
          class="input-icon"
          (click)="togglePasswordVisibility()"
        />
        </div>
        <div
          *ngIf="
            password &&
            password.value !== '' &&
            password.invalid &&
            (password.dirty || password.touched)
          "
          class="error-message"
        >
          <p *ngIf="password.errors?.['required']">
            {{ "Password is required." | translate }}
          </p>
          <p *ngIf="password.errors?.['minlength']">
            {{ "Password must be at least 6 characters long." | translate }}
          </p>
          <p *ngIf="password?.errors?.['pattern']">
            {{
              "Password must contain at least one special character, one
              uppercase letter, one lowercase letter, and one number."
                | translate
            }}
          </p>
        </div>
      </div>
      <div *ngIf="errorMessage" class="error-message alert">
        {{ errorMessage }}
      </div>
      <div class="form-actions">
        <label>
          <input type="checkbox" formControlName="rememberMe" />
          {{ "Remember me" | translate }}
        </label>
        <a (click)="resetPassword()" style="font-size: 0.875rem">{{
          "Forgot Password?" | translate
        }}</a>
      </div>
      <button type="submit" [disabled]="loginForm.invalid">
        {{ "Log in" | translate }}
      </button>
    </form>
    <div class="ebo-powered">
      <p></p>
    </div>
    <div class="login-footer">
      <p class="left-footer">&#169; 2025. {{"All rights reserved" | translate}}</p>
      <p class="right-footer">{{"Developed by Carlington CHC team" | translate}}
        <img src="assets/images/carlington-footer-logo.svg" alt="Carlington CHC Logo" class="footer-logo" />
      </p>
    </div>
  </div>
</div>
