<div class="modal-overlay">
  <div class="modal-content">
    <div class="header">
      <div class="clinic-header-left">
        <img
          src="assets/images/modal-logo.svg"
          alt="Website"
          class="website-icon"
        />
        <h3>{{ "Tax Clinic Details" | translate }}</h3>
      </div>
      <button class="close-button" (click)="close()">X</button>
    </div>
    <app-message-popup
      [message]="message"
      [isVisible]="showMessagePopup"
      [messageType]="messageType"
      (closed)="closePopup()"
    >
    </app-message-popup>
    <div class="clinic-details-container">
      <div class="clinic-details">
        <label>{{ "Organization Information" | translate }}</label>
        <div class="org-details">
          <div class="clinic-info" *ngFor="let location of clinic?.locations">
            <dt>{{ "Name/organisation of the clinic" | translate }}:</dt>
            <dd>
              {{ clinic?.organizationName ?? "" | translate }}
            </dd>
          </div>

          <div class="clinic-info" *ngFor="let location of clinic?.locations">
            <dt>{{ "Clinic Address" | translate }}:</dt>
            <dd>
              {{ location?.street }}, {{ location?.city }},
              {{ location?.state }},
              {{ location?.postalCode }}
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Other Locations" | translate }}:</dt>
            <dd>{{ clinic?.otherBranches || 'N/A' }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Website of organisation" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.organisationWebsite; else noWebsiteLink">
                <a [href]="(clinic?.organisationWebsite?.startsWith('http') ? clinic?.organisationWebsite : 'https://' + clinic?.organisationWebsite)" 
                target="_blank" rel="noopener noreferrer" class="clinic-link">
                  {{ clinic?.organisationWebsite }}
                </a>
              </ng-container>
              <ng-template #noWebsiteLink>N/A</ng-template>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Email of Organisation" | translate }}:</dt>
            <dd>{{ clinic?.organisationalEmail || "N/A" }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Listed or not on CRA" | translate }}:</dt>
            <dd>{{ clinic?.listedOnCra ?? "N/A" | translate }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Listed or not on NCEO" | translate }} :</dt>
            <dd>{{ clinic?.visibleOnNceo ?? "N/A" | translate }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Appointment Availability" | translate }}:</dt>
            <dd>
              <p>
                <input
                  type="radio"
                  name="appointmentAvailability"
                  value="Yes"
                  [(ngModel)]="appointmentAvailability"
                  (ngModelChange)="onAppointmentAvailabilityChange()"
                />
                {{ "Yes" | translate }}
              </p>
              <p>
                <input
                  type="radio"
                  name="appointmentAvailability"
                  value="No"
                  [(ngModel)]="appointmentAvailability"
                  (ngModelChange)="onAppointmentAvailabilityChange()"
                />
                {{ "No" | translate }}
              </p>
              <p>
                <input
                  type="radio"
                  name="appointmentAvailability"
                  value="Might be available soon"
                  [(ngModel)]="appointmentAvailability"
                  (ngModelChange)="onAppointmentAvailabilityChange()"
                />
                {{ "Might be available soon" | translate }}
              </p>
              <button
                (click)="updateAppointmentAvailability()"
                class="save-button"
                [disabled]="isSaveButtonDisabled"
              >
                {{ "Save" | translate }}
              </button>
            </dd>
          </div>
        </div>

        <label>{{ "Respondent information" | translate }}</label>
        <div class="org-details">
          <div class="clinic-info">
            <dt>{{ "Name" | translate }}:</dt>
            <dd>{{ clinic?.contactPersonName || "N/A" }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Title" | translate }}:</dt>
            <dd>{{ clinic?.contactPersonTitle || "N/A" }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Email" | translate }}:</dt>
            <dd>{{ clinic?.contactEmail || "N/A" }}</dd>
          </div>
        </div>

        <label>{{ "Contact Person information" | translate }}</label>
        <div class="org-details">
          <div class="clinic-info">
            <dt>{{ "Name" | translate }}:</dt>
            <dd>{{ clinic?.alternateContactName || ("N/A" | translate) }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Title" | translate }}:</dt>
            <dd>{{ clinic?.alternateContactTitle || ("N/A" | translate) }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Email" | translate }}:</dt>
            <dd>{{ clinic?.alternateContactEmail || ("N/A" | translate) }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Phone Number" | translate }}:</dt>
            <dd>{{ clinic?.alternateContactPhone || ("N/A" | translate) }}</dd>
          </div>
        </div>

        <label>{{ "Tax Clinic information" | translate }}</label>
        <div class="org-details">
          <div class="clinic-info">
            <dt>{{ "Information Public or not" | translate }} :</dt>
            <dd>{{ clinic?.publicInfo || "N/A" }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Type of Clinic" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.clinicTypes">
                <div *ngFor="let type of getFormattedArray(clinic?.clinicTypes)" class="data-list">
                  {{ type.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.clinicTypes">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Wheelchair accessible?" | translate }}:</dt>
            <dd>{{ clinic?.wheelchairAccessible || "N/A" }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Geographical zone" | translate }}:</dt>
            <dd>{{ clinic?.servePeopleFrom || "N/A" }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Clinic Catchment Area" | translate }}:</dt>
            <dd>{{ clinic?.catchmentArea || "N/A" }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Months offered by clinic" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.monthsOffered">
                <div *ngFor="let month of getFormattedArray(clinic?.monthsOffered)" class="data-list">
                  {{ month.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.monthsOffered">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Hours and Date of clinic operation" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.hoursAndDate">
                <div *ngFor="let hourDate of getFormattedArray(clinic?.hoursAndDate)" class="data-list">
                  {{ hourDate.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.hoursAndDate">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Hours of clinic" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.hoursOfOperation">
                <div *ngFor="let hour of getFormattedArray(clinic?.hoursOfOperation)" class="data-list">
                  {{ hour.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.hoursOfOperation">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Day of clinic" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.daysOfOperation">
                <div *ngFor="let day of getFormattedArray(clinic?.daysOfOperation)" class="data-list">
                  {{ day.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.daysOfOperation">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>
              {{
                "Offer income tax services year round outside of tax season?"
                  | translate
              }}:
            </dt>
            <dd>{{ clinic?.yearRoundService || "N/A"}}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Population served" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.populationServed">
                <div *ngFor="let population of getFormattedArray(clinic?.populationServed)" class="data-list">
                  {{ population.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.populationServed">N/A</ng-container>
            </dd>
          </div>

          <div class="clinic-info">
            <dt>{{ "Available in" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.serviceLanguages">
                <div *ngFor="let language of getFormattedArray(clinic?.serviceLanguages)" class="data-list">
                  {{ language.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.serviceLanguages">N/A</ng-container>
            </dd>
          </div>
        </div>
        <label>{{ "Eligibility criteria information" | translate }}</label>
        <div class="org-details">
          <div class="clinic-info">
            <dt>{{ "Year(s) prepared" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.taxYearsPrepared">
                <div *ngFor="let taxYear of getFormattedArray(clinic?.taxYearsPrepared)" class="data-list">
                  {{ taxYear.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.taxYearsPrepared">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Return from (provinces)" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.residencyTaxYear">
                <div *ngFor="let residency of getFormattedArray(clinic?.residencyTaxYear)" class="data-list">
                  {{ residency.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.residencyTaxYear">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Special services?" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.servePeople">
                <div *ngFor="let people of getFormattedArray(clinic?.servePeople)" class="data-list">
                  {{ people.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.servePeople">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Webpage elligibility" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.eligibilityCriteriaWebpage; else noLink">
                <a [href]="(clinic?.eligibilityCriteriaWebpage?.startsWith('http') ? clinic?.eligibilityCriteriaWebpage : 'https://' + clinic?.eligibilityCriteriaWebpage)" 
                target="_blank" rel="noopener noreferrer" class="clinic-link">
                  {{ clinic?.eligibilityCriteriaWebpage }}
                </a>
              </ng-container>
              <ng-template #noLink>N/A</ng-template>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{"Elligibility file Link" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.eligibilityCriteriaFile; else noFile">
                <a [href]="(clinic?.eligibilityCriteriaFile?.startsWith('http') ? clinic?.eligibilityCriteriaFile : 'https://' + clinic?.eligibilityCriteriaFile)" 
                target="_blank" rel="noopener noreferrer" class="clinic-link">
                  {{ clinic?.eligibilityCriteriaFile }}
                </a>
              </ng-container>
              <ng-template #noFile>N/A</ng-template>
            </dd>
          </div>
        </div>
        <label>{{ "Appointment Booking information" | translate }}</label>
        <div class="org-details">
          <div class="clinic-info">
            <dt>{{ "Booking process" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.bookingProcess">
                <div *ngFor="let process of getFormattedArray(clinic?.bookingProcess)" class="data-list">
                  {{ process.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.bookingProcess">N/A</ng-container>
            </dd>
          </div>

          <div class="clinic-info">
            <dt>{{ "Appointment hours" | translate }}:</dt>
            <dd>{{ clinic?.bookingDaysHours || "N/A"}}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Email for booking" | translate }}:</dt>
            <dd>{{ clinic?.bookingContactEmail || "N/A" }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Phone Number for booking" | translate }}:</dt>
            <dd>{{ clinic?.bookingContactPhone || "N/A" }}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Appointment booking Link" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.onlineBookingLink; else noBookingLink">
                <a [href]="(clinic?.onlineBookingLink?.startsWith('http') ? clinic?.onlineBookingLink : 'https://' + clinic?.onlineBookingLink)" 
                target="_blank" rel="noopener noreferrer" class="clinic-link">
                  {{ clinic?.onlineBookingLink }}
                </a>
              </ng-container>
              <ng-template #noBookingLink>N/A</ng-template>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Booking system is useful?" | translate }}:</dt>
            <dd>{{ clinic?.usefulOnlineBooking || "N/A" }}</dd>
          </div>
        </div>
        <label>{{ "Client Documentation information" | translate }}</label>
        <div class="org-details">
          <div class="clinic-info">
            <dt>{{ "Documents for appointment" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.requiredDocuments">
                <div *ngFor="let doc of getFormattedArray(clinic?.requiredDocuments)" class="data-list">
                  {{ doc.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.requiredDocuments">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>
              {{
                "Help find the client with finding documentation?" | translate
              }}:
            </dt>
            <dd>
              <ng-container *ngIf="clinic?.helpWithMissingDocs">
                <div *ngFor="let missingDoc of getFormattedArray(clinic?.helpWithMissingDocs)" class="data-list">
                  {{ missingDoc.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.helpWithMissingDocs">N/A</ng-container>
            </dd>
          </div>
        </div>
        <label>{{ "Volunteers and other information" | translate }}</label>
        <div class="org-details">
          <div class="clinic-info">
            <dt>{{ "Who prepares tax returns" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.taxPreparers">
                <div *ngFor="let preparer of getFormattedArray(clinic?.taxPreparers)" class="data-list">
                  {{ preparer.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.taxPreparers">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Who files tax returns" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.taxFilers">
                <div *ngFor="let filer of getFormattedArray(clinic?.taxFilers)" class="data-list">
                  {{ filer.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.taxFilers">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Clinic volunteer's roles" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.volunteerRoles">
                <div *ngFor="let role of getFormattedArray(clinic?.volunteerRoles)" class="data-list">
                  {{ role.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.volunteerRoles">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>
              {{ "Capacity of tax clinic during the tax season" | translate }}:
            </dt>
            <dd>{{ clinic?.clinicCapacity || "N/A"}}</dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Benefit from additional support" | translate }}:</dt>
            <dd>
              <ng-container *ngIf="clinic?.additionalSupport">
                <div *ngFor="let support of getFormattedArray(clinic?.additionalSupport)" class="data-list">
                  {{ support.trim() }}
                </div>
              </ng-container>
              <ng-container *ngIf="!clinic?.additionalSupport">N/A</ng-container>
            </dd>
          </div>
          <div class="clinic-info">
            <dt>{{ "Comments from Clinic" | translate }}:</dt>
            <dd>{{ clinic?.comments || "N/A" }}</dd>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
