<div class="clinic-list">
  <p class="directory-header" *ngIf="!isSidebarOpen; else otherText">
    {{ "Filtered Tax Clinics" | translate }}
  </p>
  <ng-template #otherText>
    <p class="directory-header">
      {{ "Tax Clinics" | translate }}
    </p>
  </ng-template>
  <div *ngFor="let clinic of filteredClinics" class="clinic-card" (click)="openModal(clinic)">
    <div *ngIf="clinic.showWarningTest" class="criteria-warning">
      {{ "Please check the eligibility criteria specific to the clinic" | translate }}
    </div>
    <label class="clinic-label">
      <span
        class="availability-dot"
        [ngStyle]="{ 'background-color': getDotColor(clinic.appointmentAvailability) }"
      ></span>
      <span class="clinic-name">{{ clinic.organizationName }}</span>
    </label>
    <div class="clinic-info" *ngIf="clinic.locations && clinic.locations.length > 0; else virtualOrNoLocation">
      <div *ngFor="let location of clinic.locations">
        <p>
          {{ "Address" | translate }}: {{ location?.street }}, {{ location?.city }},
          {{ location?.state }}, {{ location?.postalCode }}
        </p>
      </div>
    </div>
    <ng-template #virtualOrNoLocation>
      <p *ngIf="clinic.isVirtualClinic">{{ "Address" | translate }}: {{"Virtual Clinic" | translate}}</p>
    </ng-template>
    <p>
      {{ "Website" | translate }}:
      <ng-container *ngIf="clinic?.organisationWebsite; else noWebsite">
        <a [href]="clinic.organisationWebsite.startsWith('http') ? clinic.organisationWebsite : 'https://' + clinic.organisationWebsite"
           target="_blank" rel="noopener noreferrer" class="clinic-link">
          {{ clinic.organisationWebsite }}
        </a>
      </ng-container>
      <ng-template #noWebsite>N/A</ng-template>
    </p>
    <p>
      {{ "Appointment Availability" | translate }}:
      {{ clinic.appointmentAvailability | translate}}
    </p>
    <p *ngIf="isValidDistance(clinic.distance)" class="distance-tag">
      <span class="distance-text">
        {{ "Distance" | translate }}: {{ clinic.distance | number:'1.2-2' }} km
      </span>
    </p>
  </div>  
  <div *ngIf="filteredClinics.length == 0" class="clinic-not-found">
    <h3>{{ "No Tax Clinic Found" | translate }}</h3>
  </div>
</div>

<app-clinic-details *ngIf="showModal" 
[clinic]="selectedClinic" 
(assignClinic)="onAssignClinic($event)"
(unassignClinic)="onUnassignClinic($event)"
(toggleSidebarEvent)="toggleFilterSidebar()"
[isNewClient]="isNewClient"
(closeModal)="closeModal()"></app-clinic-details>
