<div class="clinic-list">
  <button *ngIf="!isSidebarOpen" class="find-clinic-btn" (click)="toggleFilterSidebar()">
    <img src="assets/images/filter-hamberger.svg" alt="Find Clinic" class="find-clinic-icon" />
    {{ "Find your Tax Clinic" | translate }}
  </button>
  <p class="directory-header">{{ "Tax clinics in this axis" | translate }}</p>
  <div *ngFor="let clinic of clinics" class="clinic-card" (click)="openModal(clinic)">
    <label>
      <span class="availability-dot"
        [ngStyle]="{ 'background-color': getDotColor(clinic.appointmentAvailability) }"></span>
      {{ clinic.organizationName }}
    </label>
    <div *ngFor="let location of clinic.locations">
      <p>
        {{ "Address" | translate }}: {{ location.street }}, {{ location.city }},
        {{ location.state }}, {{ location.postalCode }}
      </p>
    </div>
    <p>
      {{ "Website" | translate }}:
      <a [href]="(clinic?.organisationWebsite?.startsWith('http') ? clinic?.organisationWebsite : 'https://' + (clinic?.organisationWebsite ?? ''))"
        target="_blank" rel="noopener noreferrer" class="clinic-link">
        {{ clinic.organisationWebsite }}
      </a>
    </p>
    <p>
      {{ "Appointment Availability" | translate }}:
      {{ clinic.appointmentAvailability }}
    </p>
  </div>  
  <div *ngIf="clinics.length == 0" class="clinic-not-found">
    <h3>{{ "No Tax Clinic Found" | translate }}</h3>
  </div>
</div>

<app-clinic-details *ngIf="showModal" 
[clinic]="selectedClinic" 
(assignClinic)="onAssignClinic($event)"
(unassignClinic)="onUnassignClinic($event)"
(closeModal)="closeModal()"></app-clinic-details>
