.clinic-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.clinic-card {
  background: #fff;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.clinic-card:hover {
  background-color: #f9f9f9;
}

.clinic-link {
  color: #007E94;
  text-decoration: none;
}

