.clinic-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.directory-header {
  font-size: 1.17em;
  font-weight: bold;
  color: #333;
  margin-top: 0px;
}

.find-clinic-btn {
  width: 35%;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  background-color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 10px;
  font-size: 0.9rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -4px 6px rgba(0, 0, 0, 0.1);

  &:hover {
    background-color: #aadce5;
  }

  .find-clinic-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }
}

.clinic-not-found {
  color: grey;
  text-align: center;
  margin-top: 80px;
}

.clinic-card {
  background: transparent;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #cceaf0;
  position: relative;

  &:last-child {
    border-bottom: none;
  }

  label {
    margin: 0 0 5px 25px;
    font-size: 1rem;
    color: #333;
    font-weight: 500;
  }

  p {
    margin: 0 0 5px 25px;
    font-size: 0.95rem;
    color: #666;
  }

  .clinic-link {
    color: #007e94;
    text-decoration: none;
    font-weight: 500;
  }

  .clinic-link:hover {
    text-decoration: underline;
  }

  &::before {
    content: "";
    width: 15px;
    height: 15px;
    background-color: #aadce5;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    left: 0;
  }
}
