.user-management {
    padding: 20px;
    background-color: #f7fcff;
    height: calc(90vh - 15px);

    .user-title {
        font-size: 1.75em;
        font-weight: 500;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .search-bar {
        margin-bottom: 25px;
        position: relative;

        .search-input {
            width: 100%;
            max-width: 400px;
            padding: 10px 35px 10px 40px;
            border: 1px solid #ccc;
            border-radius: 20px;
            font-size: 1rem;
            outline: none;
            background: url("/assets/images/search-icon.svg") no-repeat 10px center;
            background-size: 20px;

            &:focus {
                border-color: #007e94;
                box-shadow: 0 0 5px rgba(0, 126, 148, 0.5);
            }
        }
    }

    .add-user {
        background-color: #80CBD8;
        color: #2B2B2B;
        padding: 15px 15px;
        border: none;
        border-radius: 18px;
        cursor: pointer;
        float: right;
        font-weight: 600;

        &:hover {
            background-color: #007E94;
            color: #ffffff;
        }
    }

    .table-container {
        overflow-x: auto;
        margin-top: 20px;
        overflow-y: auto;
        max-height: 70vh;
        scrollbar-color: #80cbd8 #f0f0f0;
        scrollbar-width: thin;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        .header-serial {
            border-top-left-radius: 16px;
            border-bottom-left-radius: 16px;
        }

        .header-last {
            border-top-right-radius: 16px;
            border-bottom-right-radius: 16px;
        }

        th,
        td {
            padding: 12px;
            text-align: left;
        }

        th>td:not(:first-child),
        td {
            border-bottom: 1px solid #CCEAF0;
        }

        td:not(:last-child) {
            border-right: 1px solid #CCEAF0;
        }


        th {
            background-color: #CCEAF0;
            font-weight: bold;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        td {
            vertical-align: middle;

            .user-actions {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }

            .edit-button {
                color: #006577;
                font-weight: 600;
                display: inline-block;
                border: 1px solid #0097B2;
                padding: 10px;
                width: 50%;
                background-color: inherit;
                border-radius: 16px;
                cursor: pointer;

                &:hover {
                    background-color: #AADCE5;
                }
            }

            .delete-button {
                color: #006577;
                font-weight: 600;
                display: inline-block;
                border: none;
                padding: 10px;
                width: 50%;
                background-color: inherit;
                border-radius: 16px;
                cursor: pointer;

                &:hover {
                    color: #0097B2;
                    background-color: #CCEAF0;
                    border-bottom: 1px solid #006577;
                    border-radius: 16px;
                    padding: 10px;
                }
            }
        }

        .user-name {
            border-radius: 16px;
            background-color: #F5F6F9;
            display: inline-block;
            padding: 10px;
        }

        .user-email {
            border-radius: 16px;
            display: inline-block;
            border: 1px solid #ccc;
            padding: 10px;
        }

        .user-designation {
            border-radius: 16px;
            display: inline-block;
            padding: 10px;
            border-bottom: 1px solid #ccc;
        }
    }

    @media (max-width: 768px) {
        .add-user {
            float: none;
            display: block;
            width: 100%;
            margin-top: 10px;
        }

        table {
            font-size: 14px;
        }

        th,
        td {
            padding: 8px;
        }
    }

    @media (max-width: 480px) {
        table {
            display: block;
            overflow-x: auto;
        }

        .table-container {
            overflow-x: auto;
        }

        th,
        td {
            white-space: nowrap;
        }
    }
}
