<div *ngIf="selectedTab === 'access-filter'" class="main-container">
  <div
    class="filter-section"
    [class.open]="isSidebarOpen"
    [class.closed]="!isSidebarOpen"
  >
    <app-filter
      [language]="currentLanguage"
      [isSidebarOpen]="isSidebarOpen"
      (filterChange)="applyFilters($event)"
      [isNewClient]="isNewClient"
      (toggleSidebarEvent)="onFilterSidebarToggle()"
    ></app-filter>
  </div>

  <div class="clinic-section">
    <app-clinic-list
      [clinics]="filteredClinics"
      [language]="currentLanguage"
      [isSidebarOpen]="isSidebarOpen"
      (toggleSidebarEvent)="onFilterSidebarToggle()"
      (assignClinic)="onAssignClinic($event)"
      (unassignClinic)="onUnassignClinic($event)"
    ></app-clinic-list>
  </div>

  <div class="map-section">
    <app-map [clinics]="filteredClinics" [selectedTab]="selectedTab"></app-map>
  </div>
</div>

<app-tax-clinics
  *ngIf="selectedTab === 'tax-clinics'"
  [clinics]="clinics"
  [language]="currentLanguage"
></app-tax-clinics>
