<div class="tax-clinics">
  <div class="clinic-list">
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" (input)="filterClinics()"
        placeholder="{{ 'Search Tax Clinic Directory' | translate }}" class="search-input" />
    </div>
    <h2 class="directory-header">{{ "Tax Clinics Directory" | translate }}</h2>

    <div *ngFor="let clinic of filteredClinics" class="clinic-card" (click)="openModal(clinic)">
      <h4>{{ clinic.organizationName }}
        <span class="availability-dot"
          [ngStyle]="{ 'background-color': getDotColor(clinic.appointmentAvailability) }"></span>
      </h4>
      <div *ngFor="let location of clinic.locations">
        <p>
          {{ "Address" | translate }}: {{ location.street }},
          {{ location.city }}, {{ location.state }}, {{ location.postalCode }}
        </p>
      </div>
      <p>
        {{ "Website" | translate }}:
        <a [href]="clinic.organisationWebsite" target="_blank" rel="noopener noreferrer" class="clinic-link">
          {{ clinic.organisationWebsite }}
        </a>
      </p>
      <p>
        {{ "Appointment Availability" | translate }}:
        {{ clinic.appointmentAvailability }}
      </p>
    </div>
  </div>
  <app-tax-clinic-details *ngIf="showModal" [clinic]="selectedClinic"
    (closeModal)="closeModal()"></app-tax-clinic-details>
</div>
