<div class="tax-clinics">
  <div class="clinic-list">
    <h2 class="directory-header">{{ "Tax Clinics Directory" | translate }}</h2>

    <div *ngFor="let clinic of clinics" class="clinic-card">
      <h4>{{ clinic.name }}</h4>
      <p>
        {{ "Address" | translate }}: {{ clinic.street }}, {{ clinic.city }},
        {{ clinic.state }}, {{ clinic.postalcode }}
      </p>
      <p>
        {{ "Website" | translate }}:
        <a
          [href]="clinic.website"
          target="_blank"
          rel="noopener noreferrer"
          class="clinic-link"
        >
          {{ clinic.website }}
        </a>
      </p>
    </div>
  </div>
</div>
