<div class="modal-overlay" *ngIf="isOpen">
  <div class="modal-content">
    <div class="header">
      <div class="user-header-left">
        <img
          src="assets/images/modal-logo.svg"
          alt="Website"
          class="website-icon"
        />
        <h3>{{ isEditMode ? "Edit User" : "Add User" }}</h3>
      </div>
      <button class="close-button" (click)="closeModal()">X</button>
    </div>

    <div class="user-details-container">
      <form [formGroup]="userForm">
        <div class="form-group" *ngFor="let field of formFields">
          <label> {{ field.label }} <span class="required">*</span> </label>

          <select
            *ngIf="field.key === 'role'"
            [formControlName]="field.key"
            required
          >
            <option value="" disabled>Select Role</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
          </select>

          <input
            *ngIf="field.key !== 'role'"
            [type]="field.type"
            [formControlName]="field.key"
            [placeholder]="field.placeholder"
            required
          />

          <div
            class="error-message"
            *ngIf="
              userForm.get(field.key)?.invalid &&
              userForm.get(field.key)?.touched
            "
          >
            {{ field.label }} is required
          </div>
          <div
            class="error-message"
            *ngIf="field.key === 'email' && userForm.get(field.key)?.errors?.['pattern']"
          >
            Enter a valid email address
          </div>
          <div
            class="error-message"
            *ngIf="field.key === 'password' && userForm.get(field.key)?.errors?.['pattern']"
          >
            Password must contain at least one special character, one uppercase
            letter, one lowercase letter, and one number.
          </div>
        </div>

        <div class="modal-actions">
          <button
            (click)="onSave()"
            [disabled]="userForm.invalid"
            class="save-button"
          >
            Save
          </button>
          <button (click)="closeModal()" class="cancel-button">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
