<div class="reset-container">
  <div class="reset-card">
    <div class="language-toggle">
      <!-- <app-language-selector
        (languageChanged)="switchLanguage($event)"
      ></app-language-selector> -->
    </div>
    <div class="logo-section">
      <img
        src="assets/images/login-logo.svg"
        alt="Taxinics Logo"
        class="logo"
      />
    </div>
    <h2>{{ "Password Reset" | translate }}</h2>
    <p class="rest-password-text">
      Your information has been verified. Set your new password.
    </p>
    <form
      class="reset-form"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form-group">
        <label for="password">{{ "New Password:" | translate }}</label>
        <input
          id="password"
          formControlName="password"
          type="password"
          [placeholder]="'Enter your new password' | translate"
          autocomplete="off"
          [ngClass]="
            password?.invalid && password?.value !== '' ? 'error-border' : ''
          "
        />
        <div
          *ngIf="
            password?.invalid &&
            password?.value !== '' &&
            (password?.dirty || password?.touched)
          "
          class="error-message message"
        >
          <div *ngIf="password?.errors?.['required']">
            {{ "Password is required." | translate }}
          </div>
          <div *ngIf="password?.errors?.['minlength']">
            {{ "Password must be at least 6 characters long." | translate }}
          </div>
          <div *ngIf="password?.errors?.['pattern']">
            Password must contain at least:
          </div>
          <p *ngIf="password?.errors?.['pattern']">
            <span
              [ngClass]="password?.errors?.['pattern']?.special ? '' : 'success-pattern'"
            >
              <span *ngIf="!password?.errors?.['pattern']?.special"
                >&#x2713;</span
              >
              <span *ngIf="password?.errors?.['pattern']?.special"
                >&#x2717;</span
              >
              one special character
            </span>
          </p>
          <p *ngIf="password?.errors?.['pattern']">
            <span
              [ngClass]="password?.errors?.['pattern']?.uppercase ? '' : 'success-pattern'"
            >
              <span *ngIf="!password?.errors?.['pattern']?.uppercase"
                >&#x2713;</span
              >
              <span *ngIf="password?.errors?.['pattern']?.uppercase"
                >&#x2717;</span
              >
              one uppercase letter
            </span>
          </p>
          <p *ngIf="password?.errors?.['pattern']">
            <span
              [ngClass]="password?.errors?.['pattern']?.lowercase ? '' : 'success-pattern'"
            >
              <span *ngIf="!password?.errors?.['pattern']?.lowercase"
                >&#x2713;</span
              >
              <span *ngIf="password?.errors?.['pattern']?.lowercase"
                >&#x2717;</span
              >
              one lowercase letter
            </span>
          </p>
          <p *ngIf="password?.errors?.['pattern']">
            <span
              [ngClass]="password?.errors?.['pattern']?.number ? '' : 'success-pattern'"
            >
              <span *ngIf="!password?.errors?.['pattern']?.number"
                >&#x2713;</span
              >
              <span *ngIf="password?.errors?.['pattern']?.number"
                >&#x2717;</span
              >
              one number
            </span>
          </p>
        </div>
      </div>
      <button type="submit" [disabled]="resetPasswordForm.invalid">
        {{ "Update" | translate }}
      </button>
      <div
        *ngIf="message"
        [ngClass]="{
          'success-message': isSuccess,
          'error-message': !isSuccess
        }"
        class="message alert"
      >
        {{ message }}
      </div>
    </form>
    <div *ngIf="isSuccess" class="success-container">
      <p class="success-message message alert">
        {{ "Password successfully reset" | translate }}
      </p>
    </div>

    <div *ngIf="isSuccess" class="reset-form">
      <button (click)="returnToLogin()">
        {{ "Back to Login" | translate }}
      </button>
    </div>
  </div>
</div>
