<div class="reset-container">
  <div class="reset-card">
    <div class="language-toggle">
      <app-language-selector></app-language-selector>
    </div>
    <div class="logo-section">
      <img
        src="assets/images/login-logo.svg"
        alt="Taxinics Logo"
        class="logo"
      />
    </div>

    <div *ngIf="isPasswordUpdated">
      <h2>{{ "Password updated" | translate }}</h2>
      <div class="success-section">
        <img src="assets/images/success-tick.svg" alt="Success" class="success-tick" />
      </div>
      <p class="password-text">
        {{ "Congratulations!!! Your password has been updated." | translate }}
      </p>
      <div class="reset-form">
        <button (click)="returnToLogin()">
          {{ "Back to Login" | translate }}
        </button>
      </div>
    </div>
    

    <div *ngIf="!isPasswordUpdated">
      <h2>{{ "Password reset" | translate }}</h2>
      <p class="rest-password-text">
        {{ "Your information has been verified. Set your new password." | translate }}
      </p>
      <form
        class="reset-form"
        [formGroup]="resetPasswordForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group">
          <label for="password">{{ "New Password:" | translate }}</label>
          <input
            id="password"
            formControlName="password"
            type="password"
            [placeholder]="'Enter your new password' | translate"
            autocomplete="off"
            [ngClass]="
              password?.invalid && password?.value !== '' ? 'error-border' : ''
            "
          />
          <div
            *ngIf="
              password?.invalid &&
              password?.value !== '' &&
              (password?.dirty || password?.touched)
            "
            class="error-message message"
          >
            <div *ngIf="password?.errors?.['required']">
              {{ "Password is required." | translate }}
            </div>
            <div *ngIf="password?.errors?.['minlength']">
              {{ "Password must be at least 6 characters long." | translate }}
            </div>
            <div *ngIf="password?.errors?.['pattern']">
              {{ "Password must contain at least:" | translate }}
            </div>
            <p *ngIf="password?.errors?.['pattern']">
              <span
                [ngClass]="
                  password?.errors?.['pattern']?.special ? 'error-border' : 'success-pattern'
                "
              >
                <span *ngIf="!password?.errors?.['pattern']?.special">✔</span>
                <span *ngIf="password?.errors?.['pattern']?.special">✘</span>
                {{ "one special character" | translate }}
              </span>
            </p>
            <p *ngIf="password?.errors?.['pattern']">
              <span
                [ngClass]="
                  password?.errors?.['pattern']?.uppercase ? 'error-border' : 'success-pattern'
                "
              >
                <span *ngIf="!password?.errors?.['pattern']?.uppercase">✔</span>
                <span *ngIf="password?.errors?.['pattern']?.uppercase">✘</span>
                {{ "one uppercase letter" | translate }}
              </span>
            </p>
            <p *ngIf="password?.errors?.['pattern']">
              <span
                [ngClass]="
                  password?.errors?.['pattern']?.lowercase ? 'error-border' : 'success-pattern'
                "
              >
                <span *ngIf="!password?.errors?.['pattern']?.lowercase">✔</span>
                <span *ngIf="password?.errors?.['pattern']?.lowercase">✘</span>
                {{ "one lowercase letter" | translate }}
              </span>
            </p>
            <p *ngIf="password?.errors?.['pattern']">
              <span
                [ngClass]="
                  password?.errors?.['pattern']?.number ? 'error-border' : 'success-pattern'
                "
              >
                <span *ngIf="!password?.errors?.['pattern']?.number">✔</span>
                <span *ngIf="password?.errors?.['pattern']?.number">✘</span>
                {{ "one number" | translate }}
              </span>
            </p>
          </div>
        </div>

        <button type="submit" [disabled]="resetPasswordForm.invalid">
          {{ "Update" | translate }}
        </button>

        <div
          *ngIf="message"
          [ngClass]="{
            'success-message': isSuccess,
            'error-message': !isSuccess
          }"
          class="message alert"
        >
          {{ message | translate }}
        </div>
      </form>
    </div>
  </div>
</div>
